@import "~bootstrap/scss/bootstrap";
$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$a-color: #ffffff;
$a-hover:#ffffff;
$a-secondary: #B8C3C3;
$background-footer: #4B5863;
$background-body: #FFF;
$btn-concept: #97726F;
$btn-login: #5F899A;
$btn-register: #4B5863;

@font-face {
  font-family: "Carnevalee Freakshow";
  src: url("../fonts/carnavalfont/Carnevalee Freakshow.ttf");
}
body{
  background: no-repeat fixed 100% url("/images/body/background.jpg");
  background-size: cover;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.PC{
  font-size: 1.1em;
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: gold !important;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.8);
    transition: transform 250ms;

  }

  &:hover {
    color: whitesmoke !important;
    &::after {
      transform: translateX(-50%) scaleX(1);
    }

  }

}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }
.portable{
  font-size: 2.0em;
  justify-content: center;
}
.navbar-toggler{
  justify-content: space-around;
}
.logocenter{
  position: absolute;
  left: 28.7%;
  display: block;
  top: 5px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.wrap {
  margin: 50px;
}
$burger-size: 40px;
$burger-burger: gold;
$burger-cross: #e74c3c;
$burger-thickness: 6px;
$burger-anim-time: .5s;
$burger-anim-effect: ease-out;
$burger-padding: ($burger-size - $burger-thickness)/2;

.burger-button {
  user-select: none;
  display: block;
  width: $burger-size;
  height: $burger-size;
  background-color: $burger-burger;
  background-clip: content-box;
  padding: $burger-padding 0;
  position: relative;
  transform-origin: center;
  will-change: transform;

  &:after,
  &:before {
    display: block;
    content: "";
    width: $burger-size;
    height: $burger-thickness;
    background-color: inherit;
    position: absolute;
    will-change: transform;}

  &:after {
    transform: translate3d(0,$burger-padding,0); }

  &:before {
    transform: translate3d(0,-1*$burger-padding,0); }
}



.goto-burger {
  animation: gotoBurger-all $burger-anim-time $burger-anim-effect forwards;

  &:before {
    animation: gotoBurger-before $burger-anim-time $burger-anim-effect forwards;
  }
  &:after {
    animation: gotoBurger-after $burger-anim-time $burger-anim-effect forwards;
  }
}
@keyframes gotoBurger-all  {
  0% {
    transform: translate3d(0,0,0) rotate(315deg);
    background-color: $burger-cross;
  }
  100% {
    transform: translate3d(0,0,0) rotate(720deg);
    background-color: $burger-burger;
  }
}
@keyframes gotoBurger-before  {
  0% {
    transform: translate3d(0,0,0);
  }
  60% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-1*$burger-padding,0);
  }
}
@keyframes gotoBurger-after  {
  0% {
    transform: translate3d(0,0,0) rotate(90deg);
  }
  60% {
    transform: translate3d(0,0,0) rotate(180deg);
  }
  100% {
    transform: translate3d(0,$burger-padding,0) rotate(180deg);
  }
}


.goto-cross {
  animation: gotoCross-all $burger-anim-time $burger-anim-effect forwards;
  &:before {
    animation: gotoCross-before $burger-anim-time $burger-anim-effect forwards;
  }
  &:after {
    animation: gotoCross-after $burger-anim-time $burger-anim-effect forwards;
  }
}
@keyframes gotoCross-before  {
  0% {
    transform: translate3d(0,-1*$burger-padding,0);
  }
  30% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes gotoCross-after  {
  0% {
    transform: translate3d(0,$burger-padding,0);
  }
  30% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,0,0) rotate(90deg);
  }
}
@keyframes gotoCross-all  {
  0% {
    transform: translate3d(0,0,0) rotate(0deg);
    background-color: $burger-burger;
  }
  100% {
    transform: translate3d(0,0,0) rotate(315deg);
    background-color: $burger-cross;
  }
}

@keyframes gotoCross-all-btn  {
  0% {
    transform: translate3d(0,0,0) rotate(0deg);
    background-color: $burger-burger;
  }
  100% {
    transform: translate3d(0,0,0) rotate(315deg);
    background-color: $burger-cross;
    opacity: 0;
  }
}
.globalContainer{
  background: rgba(255,255,255, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  .multiBlock{
    opacity: 1 !important;
    background-color: rgba(255, 232, 179, 1);
    border-radius: 6px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  }
}
.img-custom:hover{
  color: rgba(0, 0, 0, 0.29);
}
.dtl13 {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.dtl13 img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.dtl13 .dtl {
  background: #333;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0 15px;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dtl13 .dtl h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.dtl13 .dtl p {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.2;
  color: #9d9c9c;
  text-indent: 10px;
}
.dtl13:hover .dtl {
  visibility: visible;
  opacity: 0.89;
  left: 25px;
  top: 25px;
}
.jumbotron{
  font-family: "Carnevalee Freakshow";
  font-size: 1.9em;
  font-weight: bold;
  opacity: 0.6;
}
.textPortable{
  font-size: 2em;
  padding-top: 10px;
}
.table{
  background-color: whitesmoke;
}
#myFooter {
  background-color: #3a3f46;
  color: white;
  margin-top: 300px;
}
#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
  margin-top: 30px;
  font-weight: bold;
}
#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}
#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}
#myFooter .second-bar a:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  #myFooter .info{
    text-align: center;
  }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}
.logofooter{
  margin-top: 30px;
}