<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" type="image/png" href="images/favicon/joker.png"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include "components/navbar.html.twig" %}
    <div class="jumbotron">
        <h1 class="display-4">The Wild Circus !</h1>
        <p>The "Wild Circus Compagny" means Freedom, Love and Passion.
            Everybody here lives his passion and no one for judging them !
            Everyone loves his job ( As much as we love YOU ! )
            Freedomness means that we are going where we want and that we're doing what we want with nobody to tell us what we must do
            Wild Circus was created in 1978 by Charlie our "daddy" he had this dream to make a group of friends and travel the world with nothing but him and all of his best friends and there we are !</p>
    </div>
        {% block body %}{% endblock %}
    {% include 'components/footer.html.twig' %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact us, </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-sm-10">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Your mail :</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message :</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}

    </body>
</html>
