<footer id="myFooter">
    <div class="container">
        <div class="row">
                <div class="col-sm-4 pl-2 logofooter">
                    <a href="{{ path('app_MainPage') }}"><img src="images/navbar/logo.png" width="260" height="54" alt="Logo"></a>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2">
                <ul>
                    <li><a href="{{ path('app_Performances') }}">Performances</a></li>
                    <li><a href="{{ path('app_Pricing') }}">Pricing</a></li>
                    <li><a href="mailto:gamebundle.eu@gmail.com">Contact</a></li>
                </ul>
            </div>
        </div>
        <hr class="p-0 m-0">
        <p>Copyright by <a href="https://wildcodeschool.fr">Wild Code School</a></p>
    </div>
</footer>