<nav class="d-none d-lg-flex navbar sticky-top navbar-expand-lg navbar-dark bg-dark p-0 m-0">
    <a class="grow navbar-brand" href="#">
        <img class=" animated jackInTheBox p-0 ml-5" src="images/navbar/logo.png" width="260" height="54" alt="Logo">
    </a>
    <div class="collapse navbar-collapse navPC" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item animated zoomIn delay-1s">
                <a class="nav-link PC pt-2" href="#">Performance</a>
            </li>
            <li class="nav-item animated zoomIn delay-1s">
                <a class="nav-link PC pt-2" href="#">About Us</a>
            </li>
            <li class="nav-item animated zoomIn delay-1s">
                <a class="nav-link PC pt-2" href="#">Pricing</a>
            </li>
            <li class="nav-item animated zoomIn delay-1s">
                <a class="nav-link PC pt-2" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="d-lg-none navbar navbar-expand-lg py-4 navbar-dark bg-dark">
    <div>
    <a class="burger-button goto-burger" data-toggle="collapse" data-target="#navbarSupportedContent">
    </a>
    </div>
    <a class="nav-justified" href="{{ path('app_MainPage') }}">
        <img class="logocenter animated jackInTheBox" src="images/navbar/logo.png" width="420" height="80" alt="Logo">
    </a>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-center portable mr-auto">
            <li class="nav-item mt-3">
                <hr class="pt-2 p-0" style="border-top: 2px solid goldenrod; width: 50%">
                <a class="nav-link" href="#">Performance</a>
            </li>
            <li class="nav-item">
                <hr class="mt-2 p-0" style="border-top: 2px solid goldenrod; width: 25%">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <hr class="mt-2 p-0" style="border-top: 2px solid goldenrod; width: 25%">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <hr class="mt-2 p-0" style="border-top: 2px solid goldenrod; width: 25%">
                <a class="nav-link" href="#">Contact</a>
                <hr class="mt-2 p-0" style="border-top: 2px solid goldenrod; width: 25%">
            </li>
        </ul>
    </div>
</nav>
