{% extends "base.html.twig" %}
{% block title %}WildCircus Remastered !{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row globalContainer justify-content-around text-center pz-0 mz-0">
            <div class="multiBlock my-3 py-3 col-sm-12 col-lg-3">
                <h4>Laugh</h4>
                    <div class="dtl13">
                        <img src="/images/performances/laugh.jpg" alt="">
                        <div class="dtl">
                            <h3>Laugh</h3>
                            <p>As an adult, come and discover our irresistible clowns, between practical jokes and pranks let yourself be carried away by their joy and fall back into childhood.</p>
                        </div>
                    </div>
            </div>
            <div class="multiBlock my-3 py-3 col-sm-12 col-lg-3">
                <h4>Dream</h4>
                <div class="dtl13">
                    <img src="/images/performances/dream.jpg" alt="">
                    <div class="dtl">
                        <h3>Dream</h3>
                        <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
                    </div>
                </div>
            </div>
            <div class="multiBlock my-3 py-3 col-sm-12 col-lg-3">
                <h4>Marvel At</h4>
                <div class="dtl13">
                    <img src="/images/performances/marvelat.jpg" alt="">
                    <div class="dtl">
                        <h3>Marvel At</h3>
                        <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
                    </div>
                </div>
            </div>
            </div>
    </div>
{% endblock %}